* {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

.header {
    max-width: 1366px;
    margin: 0 auto;
}

.header_container {
    margin: 0 75px;
    padding: 30.05px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header_logo img {
    width: 47px;
}

.logo_text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    font-family: "Alexandria";
    color: #022A3C;
}

.header_nav ul {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header_nav ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #424B5A;
    font-weight: 400;
    font-size: 16px;
    transition: 300ms;
}

.header_nav a:hover {
    color: #0c606c;
}

.header_items {
    display: flex;
    gap: 24px;
}

.header_phone a{
    font-weight: 600;
    color: #424B5A;
    font-size: 16px;
}

.header_phone a, .header_button a {
    text-decoration: none;

}

.header_button a {
    padding: 8px 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color:white;
    background: #13B2C7;
    border-radius: 100px;
    cursor: pointer;
    transition: 300ms;
}

.header_button a:hover {
    background: #0c606c;
}


.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background: #000;
    display: block;
    border-radius: 2px;
}

  .header_main {
    display: flex;
    gap: 40px;
    align-items: center;
  }

@media (max-width: 1360px) {
    .header_container {
        margin: 0 20px;
    }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 22px;
    cursor: pointer;
    z-index: 20;
  }
  .burger span {
    display: block;
    height: 3px;
    background: #128EA8;
    border-radius: 2px;
    transition: 0.1s;
  }
  .burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px,5px);
  }
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  .burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px,-8px);
  }

  .header_main {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow:0 18px 32px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s ease-in-out;
    z-index: 10;
  }

  .header_main.active {
    max-height: 1000px;
  }

  .header_nav {
    padding-top: 20px;
  }
  

  .header_nav ul,
  .header_items {
    display: flex;
    gap: 25px;
    padding: 0 20px;
    margin: 0;
    flex-wrap: wrap;

  }
  .header_items {
    padding-bottom: 30px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
  .header_main {
    padding: 0;
    display: flex;
    gap: 25px;
  }
}

.hero {
    background: #EDF2F3;
    margin: 24px 35px 96px;
    border-radius: 40px;
    position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  right: 0;
  background: url("./public/images/Bg.png") no-repeat center;
  background-size: contain;
  z-index: 0;
}

.hero img {
  position: relative;
  z-index: 1;
}


.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

.hero_info {
    padding: 165px 40px 40px;
}

.hero_company {
    font-weight: 700;
    text-transform: uppercase;
    color: #128EA8;
    font-size: 25px;
    margin-bottom: 16px;
}

.hero_title {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 32px;
    color: #0C3240;
    width: 558px;
    line-height: 110.00000000000001%;
}

.hero_title span {
    color: #128EA8;
}

.hero_desc {
    font-weight: 400;
    color: #739398;
    font-size: 20px;
    width: 397px;
    margin-bottom: 32px;
}

.hero_tools {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero_booking {
    border-radius: 55px;
    position: relative;
    background: #13B2C7;
    z-index: 10;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
    box-shadow: 0px 4px 20.8px 0px #B0E1E6;
}

.hero_booking:hover {
    background: #0d6a76;
}

.hero_whatsapp {
    width: 50px;
}

.hero_whatsapp img{    
    border-radius: 55px;
    object-fit: cover;
    background: #25D366;
    padding: 13px;
    cursor: pointer;
    transition: 300ms;
}

.hero_whatsapp img:hover{    
    background: #1a6937;
}

.main {
    max-width: 1366px;
    margin: 0 auto;
}

.content {
    max-width: 1366px;
    margin: 0 auto;
}

.content_container {
    margin: 0 75px;
}

.whyus {
    margin-bottom: 96px;
}


.whyus_items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 32px;
}

.services_title p {
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 24px;
}

.whyus_title p{
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}

.whyus_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;  
  height: 80px;
  border-radius: 50%;
  background: #128EA826;
  margin-bottom: 25px;
}

.whyus_icon img {
  width: 40px;   
  height: 40px;
}

.whyus_itemtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
}

.whyus_itemdesc {
    color: #576264;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    width: 280px;
}


.services_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-items: center;
}

.services_item {
    padding: 24px;
    border: 1px solid #D4DEE1;
    border-radius: 32px;
}

.service_img {
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.services_itemtitle {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 8px;
}

.services_itemmicro ul {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    gap: 10px 20px;
    margin: 0;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.services_itemmicro ul li {
    color: #576264;
    font-size: 13px;

}

.services_itemdesc {
    font-size: 16px;
    line-height: 150%;
    color: black;
    margin-bottom: 16px;
    font-weight: 400;
}

.services_tools {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.price {
    margin-bottom: 96px;
}

.services_price {
    font-size: 16px;
    font-weight: 400;
}

.services_price span {
    font-size: 20px;
    font-weight: 600;
}

.services_button button {
    background:#13B2C7;
    font-family: "Roboto";
    border: none;
    border-radius: 100px;
    padding: 12px 24px;
    color: white;
    transition: 200ms;
    cursor: pointer;
}

.services_button button:hover {
    background:#0d6a76;
}

.services {
    margin-bottom: 96px;
}

.process {
    margin-bottom: 96px;
}

.process_title p{
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 64px;
}

.process_items {
    display: flex;
    gap: 32px;
    align-items: baseline;
    justify-content: space-between;
}

.process_item {
    text-align: center;
    position: relative;
}



.process_img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;   
  height: 80px;
  border-radius: 50%;
  background: #128EA826;
  margin-bottom: 32px;
}

.process_img img {
  width: 40px;   
  height: 40px;
}


.process_itemtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.process_itemdesc {
    color: #576264;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
}

.line1 {
    width: 144px;
    left: -90px;
    top: 50px;
    position: absolute;
    border-bottom: 2px solid #D4DEE1;
}

.line2 {
    width: 144px;
    right: -90px;
    top: 50px;
    position: absolute;
    border-bottom: 2px solid #D4DEE1;
}

.price_title p{
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}


.price_items {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.price_itemdesc p {
    font-weight: 500;
    color: #66787D;
    font-size: 20px;
    margin-bottom: 16px;
}

.price_itemdesc {
    margin-bottom: 32px;
}

.price_buttons {
    display: flex;
    justify-content: left;
    background: #EDF2F3;
    width: 363px;
    border: none;
    border-radius: 100px;
}

.price_button1 {
    color: #739398;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: #EDF2F3;
    font-family: "Roboto";
    border-radius: 100px;
    padding: 12px 26.5px;
    cursor: pointer;
}

.price_buttons button.active {
  background: #13B2C7;
  color: white;
}


.price_button2 {
    color: #739398;
    background: #13B2C7;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
    border: none;
    cursor: pointer;
    background: none;
    border-radius: 100px;
    padding: 12px 26.5px;
    margin-left: 20px;

}


.price_summary {
  width: 100%;
}
.price_summary details {
  border: 1px solid #D4DEE1;
  border-radius: 16px;
  margin-bottom: 10px;
}
.price_summary summary {
  cursor: pointer;
  font-weight: bold;
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  color: black;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price_summary summary::-webkit-details-marker {
  display: none; 
}
.price_summary .arrow {
    color: gray;
  transition: transform 0.1s;
}
.price_summary details[open] .arrow {
  transform: rotate(180deg);
}
.price_summary table {
  width: 100%;
  text-align: left;
}

.price_summary th {
    padding: 8px 24px;
    color: #66787D;
    font-weight: 500;
    font-size: 13px;
}
.price_summary td {
    padding: 8px 24px;
    color: black;
    font-weight: 500;  
    font-size: 16px;
}

.price_content {
    border-top: 1px solid #D4DEE1;
    padding-bottom: 8px;
}

.reviews_title p{
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}

.reviews_header {
    display: flex;
    justify-content: space-between;
}


.reviews_container {
  overflow: hidden; 

}

.reviews_items {
  display: flex;
  transition: transform 0.6s ease;
  gap: 25px;
  width: 100%; 
}

.reviews_item {
  flex: 0 0 calc((100% - 64px) / 3);
}

.review_arrows button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.reviews_item {
  box-sizing: border-box;
  padding: 24px;  

  border: 1px solid #D4DEE1;
  border-radius: 32px;
}


.review_header {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

.review_user {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: left;
}

.review_username {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.review_userlogo p {
    color:#739398;
    font-size: 24px;
    text-transform: uppercase;
}

.review_userlogo {
    background: #D4DEE1;
    border-radius: 100px;
    padding: 13px;
}

.review_name {
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.review_date {
    color: #739398;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.review_media img {
    height: 24px;
}

.review_star {
    margin-bottom: 8px;
}

.review_arrows button {
    border-radius: 100px;
    background: #EDF2F3;
    cursor: pointer;
    border: none;
    color: #8AA6AA;
    padding: 13px;
}



.review_arrows button img {
    width: 16px;
    height: 16px;
}


.review_arrows button.active {
  background: #13B2C7;
  color: #fff;
}

.review_text img{
    width: 100%;
    cursor: pointer;
}

.review_text img:hover {
    filter: grayscale(0.7);
}

.review_text {
    font-size: 16px;
    line-height: 150%;
}

.booking_title p {
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 16px;
}

.booking_desc p {
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
    color: #66787D;
    width: 500px;
}

.booking_items {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.booking_item {
    width: 100%;

}

.booking {
    margin-top: 96px;
}

.booking_item form {
    padding: 32px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 40px;
    background: #F6F9EC;
    border: none;
}

.booking_item form input {
    padding: 14.5px 20px;
    font-size: 16px;
    font-family: "Roboto";
    border-radius: 8px;
    border: 1px solid #D5E4B2;
}

.booking_item form input::placeholder {
    color: #BACBCF;

}

.booking_item form button {
    background: #9DBE5D;
    padding: 14.5px;
    border-radius: 8px;
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition: 200ms;
    cursor: pointer;
}

.booking_item form button:hover {
    background: #5c752b;
}

.about {
    margin: 96px 0;
}

.about_items {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    align-items: center;
}


.about_title p {
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}

.about_desc p{
    color: #66787D;
    width: 600px;
    margin-bottom: 10px;    
    font-size: 20px;
    font-weight: 500;
}

.about_desc {
    margin-bottom: 32px;
}

.about_tools {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.about_tools p {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 16px;
    justify-content: left;
}

.blogs_title p {
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}

.blogs_items {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.blog_main {
    display: flex;
    flex-direction: column;
    width: 600px;
    transition: 300ms;
    cursor: pointer;
}

.blog_main:hover {
    transform: scale(1.02);
}

.blog_other:hover {
    transform: scale(1.02);
}


.blog_mainImg img {
    border-radius: 32px;
    margin-bottom: 24px;
    width: 600px;
}

.blog_mainDate p{
    color: #576264;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 8px;
}

.blog_mainTitle {
    font-size: 31px;
    line-height: 114.99999999999999%;
    font-weight: 700;
    margin-bottom: 8px;
}

.blog_mainDesc {
    color: #444E50;
    font-size: 16px;
    line-height: 125%;
}

.blog_others {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog_other {
    display: flex;
    gap: 32px; transition: 300ms;
    cursor: pointer;
    justify-content: left;
}

.blog_otherImg img {
    border-radius: 32px;
    width: 176px;
    height: 176px;
    object-fit: cover;
}

.blog_otherDate p{
    font-size: 13px;
    line-height: 125%;
    font-weight: 600;
    color: #576264;
    margin-bottom: 8px;
}

.blog_otherTitle {
    line-height: 114.99999999999999%;
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: 700;
}

.blog_otherDesc p{
    color: #444E50;
    font-size: 16px;
    line-height: 125%;
}

.gallery {
    margin: 96px 0;
}

.gallery_title p {
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}

.gallery_items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 384px;                  
  gap: 32px;
}

.gallery1 {
  grid-column: 1 / 3; 
  grid-row: 1;       
}

.gallery2 {
  grid-column: 3;
  grid-row: 1;
}

.gallery3 { grid-column: 1; grid-row: 2; }
.gallery4 { grid-column: 2; grid-row: 2; }
.gallery5 { grid-column: 3; grid-row: 2; }

.gallery_items img{
  width: 100%;
  height: 384px;
  object-fit: cover; 
  display: block;
  transition: 200ms;
  cursor: pointer;
  border-radius: 32px;
}

.gallery_items img:hover{
    transform: scale(1.01);
}

.team_title p {
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}

.team_items {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.team_item {
    display: flex;
    flex-direction: column;
    transition: 300ms;
    cursor: pointer;
}

.team_item:hover {
    transform: scale(1.02);
}

.team_name {
    font-weight: 600;
    font-size: 20px;
    line-height: 114.99999999999999%;
    margin-bottom: 8px;
}

.team_job {
    color: #739398;
    line-height: 125%;
    font-size: 16px;
}

.team_item img {
    border-radius: 32px;
    margin-bottom: 16px;
    width: 100%;
    object-fit: cover;
    object-position: 30% 20%;
    height:280px;
}

.contacts {
    margin: 96px 0;
}

.contacts_title p {
    text-align: left;
    font-weight: 700;
    font-size: 39px;
    color: black;
    margin-bottom: 32px;
}

.contacts_items {
    display: flex;
    justify-content: left;
    gap: 32px;
}

.map {
    border-radius: 32px;
    width: 100%;
    height: 444px;
}

.contacts_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: left;
}

.contact_tool {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.contact_tool a {
    color: black;
    text-decoration: none;
}


.contact_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;  
  height: 56px;
  border-radius: 50%;
  background: #128EA826;
}

.contact_icon img {
  width: 24px;   
  height: 24px;
}

.contact_tool p span {
    font-weight: 500;
}

.contact_social {
    padding-top: 16px;
    border-top: 1px solid #D4DEE1;
}

.social_title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social_items {
    display: flex;
    gap: 24px;
}

.social_items a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;  
  height: 56px;
  border-radius: 50%;
  transition: 200ms;
  cursor: pointer;
  background: #424B5A;
}

.social_items a:hover {
  background: #21262e;

}


.social_items img {
  width: 24px;   
  text-align: center;
}

footer {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #EDF2F3;
    max-width: 1366px;
    margin: 0 auto;
}

.footer_container {
    margin: 0 40px;
}

.footer_logo p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

.footer_upper {
    padding: 38px 0;
    border-bottom: 1px solid #D4DEE1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
    margin: 0;
}

.footer_nav ul li a {
    color:#739398;
    text-decoration: none;
}

.footer_phone a{
    color: #576264;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.footer_abc p {
    font-size: 14px;
    text-transform: uppercase;
    color: #739398;
    padding: 32px 0 34px;
}

.footer_nav a:hover {
    color: #0c606c;
}

.hero_people img{
    width: 100%;
}



@media (max-width: 1260px) {
    .whyus_items {
        grid-template-columns: repeat(2,1fr);
    }
    .price_item {
        width: 50%;
    }
  .about_desc p {
      width: 100%;
  }
  .reviews_items {
    gap:10px;
  }
  .services_items {
    grid-template-columns: repeat(2,1fr);
  }
  
  .booking_items {
      flex-direction: column;
      gap: 24px;
  }
  .booking_item form {
      padding: 20px;
  }
.blog_other {
    align-items: center;
  }
  .blog_main {
    width: 100%;
  }
  .blogs_items {
      flex-direction: column;
      align-items: center;
      gap: 44px;
  }
  .blog_mainImg img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      max-width: 100%;
  }
  .blog_otherImg img {
      width: 100px;
      height: 100px;
  }
  .blog_mainTitle {
    font-size: 20px;
  }
  .blog_otherTitle {
    font-size: 18px;
  }
  .blog_mainDesc, .blog_mainDate p, .blog_otherDesc p, .blog_otherDate p {
    font-size: 15px;
  }
  .gallery_title p, .blogs_title p, .team_title p, .contacts_title p {
    font-size: 25px;
  }
  .team_name {
    font-size: 18px;
  }

   .content_container {
    margin: 30px 60px;
  }
      .hero {
        margin: 20px;
    }

    .hero_info {
        width: 50%;
    }
  .hero_title {
      font-size: 40px;
      width: 100%;
      line-height: 120%;
  }

  .hero_desc {
      width: 100%;
      font-size: 18px;
  }
  .hero_tools {
      gap: 16px;
  }

  .hero_people img {
    width: 100%;
  }
  .whyus_itemdesc {
    width: 400px;
    margin: 0 auto;  }
  .whyus_items {
    text-align: center;
  }
.whyus_title p, .services_title p, .process_title p, .price_title p, .booking_title p, .about_title p, .reviews_title p, .contacts_title p, .blogs_title p {
    font-size: 30px;
  }
    .whyus_item {
    text-align: center;
  }
  .whyus_itemdesc {
      width: 100%;
      max-width: 320px;
      text-align: center;
  }
  .whyus_items {
      flex-direction: column;
      gap: 32px;
  }
  .group_img {
        height: 400px;
    }
    .gallery_items {
        gap: 24px;
    }

}

@media (max-width: 900px) {
    .group_img {
        height: 400px;
    }
        .price_item {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .hero {
        margin: 20px;
    }
  .hero_container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .hero_info {
      padding: 80px 20px 40px;
  }
  .hero_title {
      font-size: 30px;
      width: 100%;
      line-height: 120%;
  }

  .hero_desc {
      width: 100%;
      font-size: 18px;
  }
  .hero_tools {
      flex-direction: column;
      gap: 16px;
  }

  .hero_people img {
    width: 100%;
  }
  .content_container {
    margin: 30px 30px;
  }
  .booking_desc p {
    width: 100%;
    font-size: 18px;
  }
  .services_itemtitle, .process_itemtitle {
    font-size: 19px;
    font-weight: 400;
  }
  .price_itemdesc p {
    font-size: 18px;
    font-weight: 400;
  }
  .price_summary td{
    padding: 8px 15px;
  }

  .hero_info {
    width: 70%;
  }
  .hero_title {
    word-break: break-word;

  }
  .whyus_title p, .services_title p, .process_title p, .price_title p, .booking_title p, .about_title p, .reviews_title p {
    font-size: 25px;
  }
  .whyus_item {
    text-align: center;
  }
  .whyus_itemdesc {
      width: 100%;
      max-width: 320px;
      text-align: center;
  }
  .whyus_items {
      flex-direction: column;
      gap: 32px;
  }
  .services_items {
      grid-template-columns: 1fr;
      gap: 24px;
  }
  .service_img {
      height: 200px;
  }

  .process_items {
      flex-direction: column;
      align-items: center;
  }
  .line1, .line2 {
      display: none;
  }

  .price_items {
      flex-direction: column;
      gap: 24px;
  }
  .price_buttons {
      width: 100%;
  }
  .price_button1, .price_button2 {
      margin-left: 0;
  }
.reviews_items {
    display: flex;
    scroll-behavior: smooth;
        overflow-x: auto;
      gap: 16px;
      transform: none !important; 
  }

  .reviews_item {
      flex: 0 0 80%;
      min-width: 250px;
  }

  .review_arrows {
      display: none;
  }

  .booking_items {
      flex-direction: column;
      gap: 24px;
  }
  .booking_item form {
      padding: 20px;
  }

  .about_items {
      flex-direction: column;
      gap: 24px;
      text-align: center;
  }
  .about_desc p {
      width: 100%;
  }
  .blog_other {
    align-items: center;
  }
  .blog_main {
    width: 100%;
  }
  .blogs_items {
      flex-direction: column;
      align-items: center;
      gap: 44px;
  }
  .blog_mainImg img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      max-width: 100%;
  }
  .blog_otherImg img {
      width: 100px;
      height: 100px;
  }
  .blog_mainTitle {
    font-size: 20px;
  }
  .blog_otherTitle {
    font-size: 18px;
  }
  .blog_mainDesc, .blog_mainDate p, .blog_otherDesc p, .blog_otherDate p {
    font-size: 15px;
  }
  .gallery_title p, .blogs_title p, .team_title p, .contacts_title p {
    font-size: 25px;
  }
  .team_name {
    font-size: 18px;
  }
  .about_title p {
    text-align: center;
  }
  .group_img {
    height: 400px;
  }
  .about_desc p {
    font-size: 18px;
  }
  .about_tools {
    align-items: center;
  }
  .gallery_items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      grid-auto-rows: 250px;
  }
  .review_name {
    font-size: 16px;
  }
  .social_title {
    font-size: 20px;
  }
  .footer_nav ul {
    padding: 0;
  }
  .gallery_items img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
  }
  .whyus_itemtitle {
    font-size: 19px;
  }

  .gallery1 {
    grid-column: 1/3;
  }
  .gallery2,
  .gallery3,
  .gallery4,
  .gallery5 {
      grid-column: auto !important;
      grid-row: auto !important;
  }
  .team_items {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
  }
  .team_item img {
      height: 230px;
  }

  .contacts_items {
      flex-direction: column;
      gap: 24px;
  }
  .map {
      height: 250px;
      object-fit: cover;
  }

  .footer_upper {
      flex-direction: column;
      gap: 16px;
  }
  .footer_nav ul {
      flex-direction: column;
      gap: 12px;
      text-align: center;
  }
}

@media (max-width:500px) {
    .team_items {
            display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .group_img {
    height: 200px;
  }
  .blog_other {
    gap: 15px;
  }
  .blog_otherImg img {
    height: 150px;
    border-radius: 24px;
  }
  .price_content {
    overflow: scroll;
  }
  .review_userlogo {
    padding: 16px 13px;
  }
  .review_userlogo p {
    font-size: 18px;
  }
  .review_media {
    display: none;
  }
  .header_container {
    padding: 30px 0;
  }
  .header_main {
    padding: 0;
  }
  .whyus_items {
    grid-template-columns: auto;
    display: flex;
    flex-wrap: wrap;
  }
}